/*
Website Name: Your library
Website URL: 
Website Author: Michaela Kurčíková
Author URL: https://github.com/Michaela565
Copyright 2023. All Rights Reserved.
*/

:root {
    --black: #000000;
    --lion: #C69C72;
    --raw-umber: #8E6E53;
    --silver: #C0B7B1;
    --dim-gray: #7A7265;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: grid;
    grid-template-rows: 5em auto;
    color: var(--black);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    background-color: var(--lion);
    z-index: 10;
    box-shadow: 0px 5px 10px var(--raw-umber);
}

/* text sizes ---------------------------*/

.largest{
    font-size: 42px;
}

.large{
    font-size: 28px;
}

/*---------------------------------------*/

.nav-button{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    background-color: transparent;
    border: none;
    font-size: 22px;
    text-decoration: underline;
    transition: all 0.3s;
}

.nav-button:hover{
    transform: scale(1.1);
}

.contents{
    display: grid;
    grid-template-columns: auto 25%;
}

.books{
    background-color: var(--raw-umber);
}

.sidebar{
    background-color: var(--lion);
    display: grid;
    grid-template-rows: 70% 30%;
}

.sidebar>*{
    margin: 3em;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    padding: 2em;
    box-shadow: 0px 10px 10px var(--raw-umber);
    transition: all 0.3s;
}

.sidebar>*:hover{
    transform: scale(1.1);
}

.sidebar>:last-child{
    margin-top: 0;
}

h3{
    text-align: center;
}

.add-a-book{
    padding: 1em 0;
}

label{
    display: block;
}

input{
    
}